<span>Top players</span>
<ul>
    <li><span>#</span><span>Name</span><span>Score</span></li>
    <li ng-repeat="player in playersCtrl.players | orderBy:'-score'"><span>{{$index + 1}}</span><span>{{player.name}}</span><span>{{player.score}}</span></li>
</ul>
<div class="loader" ng-if="playersCtrl.showLoader()"><div class="loader-element"></div></div>