.players-container {
    flex: 1;
    position: relative;
    max-width: 300px;
    min-width: 130px;
    background: #3d454d;
}

.players-container .loader {
    background: #FFF;
    opacity: 0.5;
}

.players-container > span {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #FFF;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}

.players-container > ul {
    display: table;
    width: 100%;
    margin: 0;
    padding: 0 10px;
    list-style: none;
    color: #b9bbbe;
    font-size: 14px;
    box-sizing: border-box;
    border-collapse: collapse;
}

.players-container > ul li {
    display: table-row;
    line-height: 30px;
}

.players-container > ul li:first-child {
    color: #999;
    border-bottom: 1px solid #999;
}

.players-container > ul li > span {
    display: table-cell;
    padding: 0 3px;
    text-align: center;
}