<time class="time-container"></time>
<score class="score-container"></score>
<word class="word-container"></word>
<new-game class="modal-container" ng-if="contentCtrl.showNewGameModal()"></new-game>
<game-result class="modal-container" ng-if="contentCtrl.showGameResultModal()"></game-result>