.content-container {
    flex: 5;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    opacity: 0.7;
}

.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
    padding: 20px;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 2px 0 16px 0 rgba(0,0,0,0.3);
}

.modal-message {
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
    color: rgba(0,0,0,0.85);
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
}

.button {
    padding: 6px 10px;
    cursor: default;
    transition: background-color .2s ease;
    border: 1px solid transparent;
    border-radius: 3px;
}

input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
}