<div class="overlay"></div>

<div class="modal">
    <div class="modal-message">When you press start you will have 40 seconds to guess as much words as you can.</div>
    <div class="modal-buttons">
        <div class="button start-game" ng-click="newGameCtrl.onStartButtonClick()">Start Game</div>
    </div>
</div>