.start-game {
    background-color: #3cbd70;
    border-color: #36aa65;
    color: #fff;
}

.start-game:hover {
    background-color: #33a260;
    border-color: #2d8f54;
}

.start-game:active {
    background-color: #309659;
    border-color: #2a834e;
}