body {
    margin: 0;
    padding: 0;
    background: #fafafa;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.app {
    display: flex;
    height: 100%;
    width: 100%;
}