<div class="word-message">Try to guess the word</div>
<div class="current-word">{{wordCtrl.getCurrentWord().shuffled}}</div>
<input class="word-input" ng-model="input" ng-keyup="wordCtrl.onInputKeyUp($event)" placeholder="Enter your guess" />