.word-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 200px;
    transform: translate(-50%, -100px);
    text-align: center;
}

.word-message {
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
}

.current-word {
    margin: 20px 0 10px 0;
    font-size: 30px;
    text-transform: uppercase;
    transition: font-size .5s ease;
}

.word-input {
    height: 60px;
    width: 100%;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #999;
    transition: font-size .5s ease;
}

@media (max-width: 700px) {
    .word-input,
    .current-word {
        font-size: 17px;
    }
}

