.submit-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 20px;
}

.submit-input {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 100;
    border-bottom: 1px solid #999;
}

.submit-result {
    margin-left: 20px;
    color: #fc7938;
    border-color: #fc7938;
    background-color: #fff;
}

.submit-result:hover {
    color: #fff;
    border-color: #fc7938;
    background-color: #fc8a51;
}

.submit-result:active {
    color: #fff;
    border-color: #fb6215;
    background-color: #fb722e;
}

.submitted {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    text-align: center;
}