<div class="overlay"></div>

<div class="modal">
    <div class="modal-message">Game ended. You scored {{gameResultCtrl.getGameResult()}} points.</div>
    <div class="submit-container">
        <input ng-model="playerName" ng-keyup="gameResultCtrl.submitInputKeyUp($event)" class="submit-input" placeholder="Enter your name" />
        <div class="button submit-result" ng-click="gameResultCtrl.submitResult()">Submit result</div>
        <div class="submitted" ng-if="gameResultCtrl.submitted">Thank you.</div>
    </div>
    <div class="modal-buttons">
        <div class="button start-game" ng-click="gameResultCtrl.onRestartClick()">Start new game</div>
    </div>
</div>