.score-container {
    position: absolute;
    right: 20%;
    top: 50%;
    text-align: center;
    transform: translate(0, -100px);
    transition: transform .5s ease;
}

.score-container .label {
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
}

.score-container .score {
    margin: 20px 0 10px 0;
    font-size: 30px;
}

@media (max-width: 700px) {
    .score-container {
        transform: translate(0, -190px);
    }
}